<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="McuTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <McuTools.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value>2001-01-01</value>
            </setting>
            <setting name="FileToDelete" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolViewCategory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowTopmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tracking" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WindowDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="UserConfigXML" serializeAs="String">
                <value />
            </setting>
        </McuTools.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GoogleAnalyticsTracker.Core" publicKeyToken="04ab204e84b117c0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.24.0" newVersion="3.0.24.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
